---
layout: archive
title: "Page Archive"
permalink: /page-archive/
author_profile: false
gallery:
  - url: /assets/images/IMG_6509.JPEG
    image_path: /assets/images/IMG_6509.JPEG
    alt: "placeholder image 2"
    title: "Image 2 title caption"
  - url: /assets/images/IMG_6651.jpg
    image_path: /assets/images/IMG_6651.jpg
    alt: "placeholder image 3"
    title: "Image 3 title caption"
---

{% include base_path %}
{% for post in site.pages %}
  {% include archive-single.html %}
{% endfor %}

{% include gallery caption="This is a sample gallery with **Markdown support**." %}

