{% include base_path %}


<li type="{{ include.type | strip }}">
    {{ include.authors }}
    {{ include.title }} {{.}}
    <i>{{ include.venue }}</i>
    <br/>
    {% assign doi_stripped = include.doi | strip %}
    {% if doi_stripped == "" %}
        <!-- [DOI] -->
    {% else %}
        <!-- [<a href="{{ doi_stripped }}" target="_blank">DOI</a>] -->
        <a href="{{ doi_stripped }}"><i class="fas fa-fw fa-link zoom" aria-hidden="true"></i></a>
    {% endif %}
    {% assign pdf_stripped = include.pdf | strip %}
    {% if pdf_stripped == "" %}
        <!-- [PDF] -->
    {% else %}
        <!-- [<a href="/{{ pdf_stripped }}" target="_blank">PDF</a>] -->
        <a href="{{ pdf_stripped }}"><i class="fas fa-fw fa-file-pdf zoom" aria-hidden="true"></i></a>
<!--        [<a href="{{ pdf_stripped }}" target="_blank">DOI</a>]-->
    {% endif %}
    {% assign video_stripped = include.video | strip %}
    {% if video_stripped == "" %}
        <!-- [Video] -->
    {% else %}
        <a href="{{ video_stripped }}"><i class="fas fa-light fa-video zoom" aria-hidden="true"></i></a>
    {% endif %}
</li>
